a{
    text-decoration: none;
    color:#444;
}
a:focus,a:active{
    outline: none;
}
.zy_post_label{
    display: block;
    font-size: 16px;
    margin: 3px;
}
.zy_post_select,.zy_autocomplete{
    width: 80%;
}
.zy_add_customer_tag{
    width: 15%;
}
.zy_post_input{
    width: 90%;
}
.zy_post_button{
    background: url(../../images/app/zy_upload_btn_bg.png) no-repeat;
    font-size: 14px;
    height: 30px;
    width: 60px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}
.zy_post_div{
    width: 90%;
    margin:5px auto;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-style: italic;
    color:#CECFCF;
}
.zy_post_img{
    width: 80%;
    display: block;
    margin: auto;
}
.zy_post_section{
    border: 1px solid #aaa;
    margin-top:5px;
    height: 100%;
    padding-bottom: 5%;
}
.zy_post_section_noborder{
    margin-top:5px;
}
.zy_post_header{
    background: #F2F2F2;
    height: 30px;
}
.zy_selected_span{
    background: url(../../images/app/zy_span_bg_left.png) top left no-repeat,url(../../images/app/zy_span_bg_right.png) top right no-repeat;
    height: 25px;
    display: inline-block;
    padding: 0px 10px 0px 14px;
    margin: 5px;
    font-size:0px;
}
.zy_selected_span_content{
    background: url(../../images/app/zy_span_bg_center.png) repeat-x;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    padding:0px 3px 0px 3px;
}
.zy_selected_span_delete{
    background: url(../../images/app/zy_span_bg_center.png) repeat-x;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}

.zy_background{

    width: 90%;

    margin: 20px auto;

    display: block;

}

.zy_background_percent{

    display: block;

    text-align: center;

}
/*图片上的插入按钮*/
.zy_insert_img{
    background-color: #EEEEEE;
    border:1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    margin: 2px;
    padding: 2px;
}
.zy_insert_img:hover{
    opacity:.5;
    cursor: pointer;
}
/*-----------------修改wordpress的固有样式=================*/
/*隐藏保存草稿和预览按钮*/
#save-post,#post-preview{
    display: none;
}
/*==tinymce的弹出窗口fixed==*/
.clearlooks2{
    position: fixed!important;
    top:0px!important;
}
#wp_editimgbtn:hover,#wp_delimgbtn:hover{
    cursor: pointer
}
